<form action="/result">
  <div class="form-group">
    <label for=""</label>
    <input id="length" type="text" name="length" class="form-control">
    <input id="height" type="text" name="height" class="form-control">
    <input id="depth" type="text" name="depth" class="form-control">
    <input id="weight" type="text" name="weight" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg" id="submit">Check</button>
</form>
