<form action="/result">
  <div class="form-group">
    <label for=""</label>
    <input id="" type="text" name="" class="form-control">
    <input id="" type="text" name="" class="form-control">
    <input id="" type="text" name="" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success btn-lg" id="submit">Check</button>
</form>
